@import '../../styles/variables.scss';
.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &__img {
        width: 175px;
    }
    &__text {
        font-weight: bold;
        margin-top: 15px;
        text-align: center;
        padding: 0 5px;
        span {
            color: $main-color;
        }
    }
}